---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');

:root {
    --border-feint: #ccc;
    --font-family: "inter", "helvetica neue", sans-serif;
    --heading-font-family: "inter", "helvetica neue", sans-serif;
    --root-font-size: 20px;
    --line-height: 1.75;
    --width-content: 760px;
    --topbar-background: #ffffff;
    --width-nav: 1200px;
    --link-colour: #ED217C;
    --link-hover-colour: #F269A7;
    --link-underline-colour: #F7A1C8;
}

html {
    font-family: var(--font-family);
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}
  

a {
    color: var(--link-colour);
    // font-weight: bold;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--link-underline-colour);
    text-decoration-color: var(--link-underline-colour);

    &:hover {
        color: var(--link-hover-colour);
    }
}

body {
    margin: 2rem 1rem;
    line-height: var(--line-height);
    padding: 0;
    margin: 0;
}

body > header {
    background-color: var(--topbar-background);

    nav {
        max-width: var(--width-nav);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        > a {
            flex-grow: 1;
            margin: 1rem;
        }
        > ul {
            list-style: none;
            margin: 1rem;
            li {
                display: inline-block;
                margin: 0 0.5rem;
            }
        }

    }
}

body > footer {
    padding: 3rem 0;
    text-align: center;
}

main, footer {
    // margin: 0 auto;
    // max-width: var(--width-content);
}

main > section > article > div {
    max-width: var(--width-content);
    padding: 3rem 1rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-family: var(--heading-font-family);
    font-weight: normal;
}

h1 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}
h2 {
    margin-top: 2rem;
}

a.site-title {
    font-family: var(--heading-font-family);
    // text-transform: uppercase;
    font-size: 1rem;
    color: grey;
    text-decoration: none;
    display: block;
    text-align: center;
}

article header {
    text-align: center;
    margin-bottom: 2rem;
}
article header h1 {
    margin: 2rem 0;
}

blockquote {
    border-top: solid 3px var(--border-feint);
    border-bottom: solid 3px var(--border-feint);
    margin: 2rem 0;
    font-weight: bold;
}
blockquote cite {
    font-size: small;
    font-weight: normal;
}

figure.full {
    // width: 100vw;
    // margin-left: 50%;
}

header > nav a {
    line-height: 20px;
}
header > nav img {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

p {
}

div.responsive-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
div.responsive-video-container iframe, div.responsive-video-container object, div.responsive-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Larger screens */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

}
