{%- if page.title -%}
  {%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
{%- endif -%}

{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

{%- assign page_og_image = page.image | absolute_url -%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"/>
    <!-- This defines the width of the browser viewport as the device's width itself (for nice rendering on mobile!) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ site.baseurl }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed"/>

    {% seo %}

    {% include tools/fathom.html %}
    {% include tools/plausible.html %}

    {% include scripts-head.html %}

</head>

<body class="{{ page.layout }}">
    <header>
        {% include nav.html nav="main" %}
    </header>
    <main>
        {{ content }}
    </main>
    <div style="clear: both;"></div>
    <footer>
        <div>
          <p><strong>{{ site.title }}.</strong> {{ site.description }}</p>
          <p>
            <a href="/about">About this site</a>
            | <a href="https://www.facebook.com/thediscochap">Follow on Facebook</a>
          </p>
          <p class="disclaimer">
            This site participates in the Amazon.com Services LLC Associates Program. As an Amazon Associate we may earn from qualifying purchases you make through this site. Amazon and the Amazon logo are trademarks of Amazon.com, Inc. or its affiliates.
          </p>
        </div>
    </footer>

    {% include tools/isso.html %}

    {% include scripts-footer.html %}
</body>

</html>
